@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Jost, Arial, Helvetica, serif !important;
  background-color: #171717;
}

h1.main-heading {
  font-size: 3rem !important;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 18px !important;
}


